<a href="https://colab.research.google.com/github/Antoniocpe/CPE-009A-Object-Oriented-Programming-1/blob/main/Hands-on%20Activity%201.1%20Literals%2C%20Operators%2C%20and%20Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assigning variables of different data types in Python

1.

In [ ]:
value = 5
print(value)

2.

In [ ]:
type(value)

int

3.

In [ ]:
value = 5.0

4.

In [ ]:
type(value)

float

5.

In [118]:
#a
value = 2 + 3j
type(value)

complex

In [25]:
#b
value = 'Hello World'
type(value)

str

In [26]:
#c
value = "Hello World"
type(value)

str

In [17]:
#d
value = True
type(value)

bool

In [19]:
#e
value = False
type(value)

bool

In [20]:
#f
value = [1,2,3,4,5]
type(value)

list

In [21]:
#g
value = (1,2,3,4,5)
type(value)

tuple

In [22]:
#h
value = {'name': 'christine'}
type(value)

dict

In [23]:
#i
value = None
type(value)

NoneType

6.

In [28]:
value = 5

7.

In [29]:
value2 = -6

#Performing Operations with Python

1.

In [30]:
print(value + value2)

-1

2.

In [31]:
#a
value, value2 = 5.0, 6
print(value + value2)

11.0

In [35]:
#b
value, value2 = -5, 6.1
print(value + value2)

1.0999999999999996

In [50]:
#c
value, value2 = "Hello", 'world'
print(value + value2)

Helloworld

In [137]:
#d
value, value2 = [1,2,3], [4,5,6]
print(value + value2)

[1, 2, 3, 4, 5, 6]

In [38]:
#e
value, value2 = (1,2,3), (4,5,6)
print(value + value2)

(1, 2, 3, 4, 5, 6)

In [142]:
#f
value, value2 = {"name": "christine"}, {"age": 18}
print(value, value2)

{'name': 'christine'} {'age': 18}

3.

In [60]:
value, value2 = 30, 4

print(value * value2)
print(value ** 2)
print(value ** 3)
print(value * value2 + value2 ** 2 + 1)
print(value/value2)
print(value%value2)

120
900
27000
137
7.5
2

#Assigning Input Data to a Variable

1.

In [72]:
name = input("Enter your name: ")
weight = float(input("Enter your weight (kg): "))
height = float(input("Enter your height (m): "))

bmi = weight / height ** 2

Enter your name: John Ray
Enter your weight (kg): 60
Enter your height (m): 1.6764

6.

In [73]:
print("Name: " + name)
print("Weight:", weight)
print ("Height:", height)
print("BMI =", bmi)

Name: John Ray
Weight: 60.0
Height: 1.6764
BMI = 21.349904958763087

#Supplementary Activity

In [84]:
#1
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (1/2) * base * height

print("The area of the triangle is" , area)

Enter the base of the triangle: 20
Enter the height of the triangle: 45
The area of the triangle is 450.0

In [ ]:
#2
while True:
  C = float(input("Enter the temperature in Celsius: "))
  F = (C * 9/5) + 32
  print(C,"C =", F, "F")

In [101]:
#3

x1 = float(input("Enter the x-coordinate of the first point: "))
y1 = float(input("Enter the y-coordinate of the first point: "))
x2 = float(input("Enter the x-coordinate of the second point: "))
y2 = float(input("Enter the y-coordinate of the second point: "))

d = ( (x2 - x1)**2 + (y2 - y1)**2 ) **(1/2)

print(d)

Enter the x-coordinate of the first point: 2
Enter the y-coordinate of the first point: 2
Enter the x-coordinate of the second point: -3
Enter the y-coordinate of the second point: 3
5.0990195135927845

In [145]:

a = [1,2,3,4,5]
b = [6,7,8,9,10]
a += b
print(a)

a = "hello"
b = '"cuh"'
a *= b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

TypeError: can't multiply sequence by non-int of type 'str'