<a href="https://colab.research.google.com/github/Antoniocpe/CPE-009A-Object-Oriented-Programming-1/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python indentation

In [ ]:
if 10 > 2:
  print("ten is greater than two")

Python comments

In [ ]:
#this is a commnet
print("hello world")

variable naming conventions

In [ ]:
size = float(10)
size_2 = int(5)
Size = 'a'

print(Size)

a

In [ ]:
b= "sally"
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() function

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

double quotes or signle quotes

In [ ]:
y = "John"
y = 'John'

case sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(A)

Sally

multiple variables

In [ ]:
x,y,z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

one value to multiple variables

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

Output variables

In [ ]:
x = "enjoying"
print("Python programming is" + x)

In [ ]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

arithmetic operations

In [ ]:
x = 5
y = 3
print(x + y)

x = 5 - 3 #2
y = (3 * 5) // 2 #7
z = 21 % 4 #1
sum = x + y + z / 2 ** 3 #<-- 8
sum

8

9.125

assignment operators

In [ ]:
#1
x = 5
print(x)

#2
x += 3
print(x)

#3
x = 5
x -= 3
print(x)

#4
x = 5
x *= 3
print(x)

#5
x = 5
x /= 3
print(x)

#6
x = 5
x %= 3
print(x)

#7
x = 5
x //= 3
print(x)

#8
x = 5
x **= 3
print(x)

#9
x = 5
x &= 3
print(x)

#10
x = 5
x |= 3
print(x)

#11
x = 5
x ^= 3
print(x)

#12
x = 5
x>>= 3
print(x)

#13
x = 5
x <<= 3
print(x)

comparison operators

In [ ]:
t = 1
u = 2

print(t == u)
print(t != u)
print(t > u)
print(t < u)
print(t >= u)
print(t <= u)

False
True
False
True
False
True

logical operators

In [ ]:
t < 5 and t < 10

True

In [ ]:
t < 5 or t > 4

True

In [ ]:
not(t < 5 and t < 10)

False

identity operators

In [ ]:
t is u

False

In [ ]:
t is not u

True

bitwise operators

In [ ]:
v = 2
v << 1
w = v << 2

print(v & w)

15 & 15

0

15